In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\dell\miniconda3\envs\python_eda\lib\site-packages (1.3.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\dell\miniconda3\envs\python_eda\lib\site-packages (from scikit-learn) (1.26.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\dell\miniconda3\envs\python_eda\lib\site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in c:\users\dell\miniconda3\envs\python_eda\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\miniconda3\envs\python_eda\lib\site-packages (from scikit-learn) (3.2.0)

# 1. Min Max Scaling

In [2]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# simple data 
data = {'awen_numbers': [10, 20, 30, 40,50]}
df = pd.DataFrame(data)
df.head()

   awen_numbers
0            10
1            20
2            30
3            40
4            50

In [3]:
# scale the data using  Min-Max Scalar
scaler = MinMaxScaler()
df['awen_numbers_scaled'] = scaler.fit_transform(df[['awen_numbers']])
df.head()

   awen_numbers  awen_numbers_scaled
0            10                 0.00
1            20                 0.25
2            30                 0.50
3            40                 0.75
4            50                 1.00

# 2. Standard Scalar or Z-score normalization

In [4]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# simple data 
data = {'awen_numbers': [10, 20, 30, 40,50]}
df = pd.DataFrame(data)
df.head()

   awen_numbers
0            10
1            20
2            30
3            40
4            50

In [5]:
# scale the data using  standard scalar
scaler = StandardScaler()
df['awen_numbers_scaled'] = scaler.fit_transform(df[['awen_numbers']])
df.head()

   awen_numbers  awen_numbers_scaled
0            10            -1.414214
1            20            -0.707107
2            30             0.000000
3            40             0.707107
4            50             1.414214

# 3. Robust scalar

In [8]:
from sklearn.preprocessing import RobustScaler
# Sample data with outliers
data = {'awen_numbers': [10, 20, 30, 1000, 50]}
df = pd.DataFrame(data)
# Robust Scaling
scaler = RobustScaler()
df['awen_numbers_scaled'] = scaler.fit_transform(df[['awen_numbers']])
print(df)

   awen_numbers  awen_numbers_scaled
0            10            -0.666667
1            20            -0.333333
2            30             0.000000
3          1000            32.333333
4            50             0.666667

# 4. Logrithmic scaling/ Normalization

In [7]:
import numpy as np
import pandas as pd
 
# random data with outliers
data = {'awen_numbers': [10000, 20000, 30000, 100000, 50000]}
df = pd.DataFrame(data)

# Log Transform

df['awen_numbers_log'] = np.log(df['awen_numbers'])
df['awen_numbers_log2'] = np.log2(df['awen_numbers'])
df['awen_numbers_log10'] = np.log10(df['awen_numbers'])

df.head()

   awen_numbers  awen_numbers_log  awen_numbers_log2  awen_numbers_log10
0         10000          9.210340          13.287712            4.000000
1         20000          9.903488          14.287712            4.301030
2         30000         10.308953          14.872675            4.477121
3        100000         11.512925          16.609640            5.000000
4         50000         10.819778          15.609640            4.698970